{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'Images/favicon.png' %}" />
        <title>{% block title %}RealHome{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/RealHome.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include 'footer.html' %}

        <script src></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>