{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>
                Join Today!
            </legend>
            {{ from }}
        </fieldset>
            <div>
                <button type="submit">Sign Up</button>
            </div>
    </form>
    <div>
        <small>
            Aready have an Account? <a href="#">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}