{% extends 'base.html' %}
{% load static %}

{% block title %}RealHome - Contact us{% endblock %}

{% block content %}
<div class="policies">
<h1>Terms & Conditions</h1>
<p>Welcome to RealHome. By using our website, you agree to comply with and be bound by the following terms and conditions of use.</p>
<h2>1. Acceptance of Terms</h2>
<p>By accessing or using RealHome, you agree to be bound by these Terms and Conditions and all applicable laws and regulations. If you do not agree with any part of these terms, you may not use our services.</p>
<h2>2. Use of the Website</h2>
<p>You may use RealHome for your personal, non-commercial use only. You must not use RealHome for any illegal or unauthorized purpose.</p>
</div>
{% endblock %}