{% extends 'base.html' %}
{% load static %}

{% block title %}RealHome - Contact us{% endblock %}

{% block content %}
<div class="policies">
    <h1>Terms & Conditions</h1>
    <p>Welcome to RealHome. By using our website, you agree to comply with and be bound by the following terms and conditions of use.</p>
    
    <h2>1. Acceptance of Terms</h2>
    <p>By accessing or using RealHome, you agree to be bound by these Terms and Conditions and all applicable laws and regulations. If you do not agree with any part of these terms, you may not use our services.</p>
    
    <h2>2. Use of the Website</h2>
    <p>You may use RealHome for your personal, non-commercial use only. You must not use RealHome for any illegal or unauthorized purpose.</p>
    
    <h2>3. User Accounts</h2>
    <p>To access certain features of our website, you may be required to create an account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.</p>
    
    <h2>4. Intellectual Property</h2>
    <p>The content, design, and layout of RealHome, including but not limited to text, graphics, logos, and images, are the property of RealHome and are protected by copyright, trademark, and other intellectual property laws. You may not reproduce, distribute, or create derivative works from any content on our website without our express written permission.</p>
    
    <h2>5. Limitation of Liability</h2>
    <p>RealHome shall not be liable for any direct, indirect, incidental, or consequential damages arising from your use of, or inability to use, the website or any content therein. This includes, but is not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses.</p>
    
    <h2>6. Changes to Terms</h2>
    <p>We may update these Terms and Conditions from time to time. We will notify you of any changes by posting the new terms on our website. Your continued use of RealHome after any changes constitutes your acceptance of the new terms.</p>
    
    <h2>7. Governing Law</h2>
    <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of the jurisdiction in which RealHome operates, without regard to its conflict of law principles.</p>
    
    <h2>8. Contact Information</h2>
    <p>If you have any questions about these Terms and Conditions, please contact us at support@realhome.com.</p>
    
</div>
{% endblock %}